html {
  font-family: monospace;
  font-size: max(1em, 8vmax);
}

body {
  display: flex;
  flex-flow: column;
  margin: auto;
}

main {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}

time {
  margin-block-start: auto;
}

:focus {
  outline-width: thick;
  outline-style: dashed;
}

footer {
  font-size: min(5vmax, 1rem);
}
